*.user
*.cbp
Makefile
/build
/out
/.cache
.vs
CMakeSettings.json


cmake-build*
CMakeFiles
CMakeCache.txt
cmake_install.cmake
CMakeScripts

.idea

IDEWorkspaceChecks.plist
UserInterfaceState.xcuserstate
xcschememanagement.plist
*.xcscheme
.vscode
*.xcworkspace
*.DS_Store